h2 {
    color: blue;
    margin-left: 20px;
    text-align: center;
}

.container {
    
    
    text-align: center;
}

body {
    background-color: pink;
}

.container {
    display : none;
}

h4 {
    color: blue;

}

#message2 {
    color: red;
}
#level {
    display: none;
    color: blue;
}

#difficulty {
    color: green;
}
button {
    color: green;
}

#message3 {
    display: none;
    color: blue;
}
#second {
    color: blue;
}

#won {
    display: none;
    color: green;
}

#lost {
    display: none;
    color: red;
}
#allo {
    color: blue;
}