h2 {
    color: blue;
    margin-left: 20px;
    text-align: center;
}

.container {
    
    
    text-align: center;
}

body {
    background-color: pink;
}

.container {
    display : none;
}

h4 {
    color: blue;

}

#message2 {
    color: red;
}

#difficulty {
    color: green;
}