h2 {
    color: blue;
    margin-left: 20px;
    text-align: center;
}



.container {
    
    
    text-align: center;
}

body {
    background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
    );  
    animation: AnimateBG 20s ease infinite;
    height: 100%;
    margin: 0;
}
@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
fieldset {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
}
.playground {
    margin: 0;
}

.container {
    display : none;
}

h4 {
    color: blue;

}

#message2 {
    color: yellow;
}
#level {
    display: none;
    color: blue;
}

#difficulty {
    color: blanchedalmond;
}
button {
    color: green;
}

#message3 {
    display: none;
    color: blue;
}
#second {
    color: blue;
}

#won {
    display: none;
    color: green;
}

#lost {
    display: none;
    color: goldenrod;
}
#allo {
    color: blue;
}